/*<meta />*/

body
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.6em;
	color: #666;
}

h1,
h2,
h3,
h4,
h5,
h6
{
	line-height: 1.5em;
	margin-top: 0;
	text-rendering: optimizelegibility;
	color: #999;
	font-weight: normal;
	margin-top: 20px;
	margin-bottom: 5px;
}

h1
{
	font-size: 28px;
	color: #666;
}

h2
{
	font-size: 24px;
}

h3
{
	font-size: 20px;
}

h4
{
	font-size: 18px;
}

h5
{
	font-size: 16px;
}

h6
{
	font-size: 14px;
	color: #606060;
	font-weight: 400;
}

p
{
	margin: 0 0 10px;
}

ul
{
	list-style-type: disc;
}

ul,
ol
{
	padding-left: 30px;
}

li > p
{
	margin-bottom: 0px;
	padding-top: 2px;
}

a
{
	text-decoration: none;
}

a,
a.MCXref_ParaTextOnly_0:link,
a.MCXref_ParaTextOnly_0:visited
{
	color: #428BCA;
	font-weight: normal;
	font-size: inherit;
	text-decoration: none;
}

a.MCToggler_0,
a.MCToggler_0:link,
a.MCToggler_0:visited,
a.MCToggler_a_0:link,
a.MCToggler_a_0:visited
{
	text-decoration: none;
	color: #999;
}

a:hover,
a.MCXref_ParaTextOnly_0:hover
{
	text-decoration: underline;
}

th
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	text-align: left;
	vertical-align: top;
	padding: 8px 10px;
}

td
{
	vertical-align: top;
	padding: 8px 10px;
}

div
{
	padding-left: 15px;
}

img
{
	margin: 15px 0;
}

h3 > a > img
{
	margin: 0;
}

.MCToggler_0 img
{
	margin: 0;
}

MadCap|xref.ParaTextOnly
{
	mc-format: '{paratext}';
}

li.BulletIndent
{
	margin-bottom: 6pt;
	margin-left: 54pt;
}

p.p_1
{
	
}

table.table_1
{
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}

table.table_2
{
	margin-right: auto;
	margin-left: 5pt;
	border-collapse: collapse;
}

table.table_3
{
	margin-right: auto;
	margin-left: 14pt;
	border-collapse: collapse;
}

table.table_4
{
	margin-left: 28pt;
	border-collapse: collapse;
}

ul.ul_3
{
	list-style-type: disc;
	margin-left: 63pt;
}

/*MadCap|xref.TOCPageNumber
{
	mc-format: '{color blue{/color}{u}}';
}*/

MadCap|xref
{
	mc-format: '{quote}{paratext}{quote}';
}

h1
{
	mc-disabled: false;
}

h2
{
	mc-disabled: false;
}

h3
{
	mc-disabled: false;
}

h4
{
	mc-disabled: false;
}

h5
{
	mc-disabled: false;
}

h6
{
	mc-disabled: false;
}

span.ui
{
	font-weight: bold;
}

p.a_note,
p.a_note_multi1st,
p.a_note_multi2nd,
p.a_note_multiLast,
p.a_note_indent,
p.a_note_multi1st_indent,
p.a_note_multi2nd_indent,
p.a_note_multiLast_indent,
p.a_noteImportant,
p.a_noteImportant_multi1st,
p.a_noteImportant_multi2nd,
p.a_noteImportant_multiLast,
p.a_noteImportant_indent,
p.a_noteImportant_multi1st_indent,
p.a_noteImportant_multi2nd_indent,
p.a_noteImportant_multiLast_indent
{
	padding: 6px;
	border: solid 1px #e3e3e3;
	mc-auto-number-offset: 6px;
	background-color: #f0f0f0;
	margin: 15px;
}

p.a_note,
p.a_note_multi1st,
p.a_note_indent,
p.a_note_multi1st_indent
{
	mc-auto-number-format: '{b}Note:  {/b}';
}

p.a_noteImportant,
p.a_noteImportant_multi1st,
p.a_noteImportant_indent,
p.a_noteImportant_multi1st_indent
{
	mc-auto-number-format: '{b}{color red}Important!  {/color}{/b}';
}

p.a_note_multi1st,
p.a_note_multi1st_indent,
p.a_noteImportant_multi1st,
p.a_noteImportant_multi1st_indent
{
	border-bottom: none;
	margin-bottom: 0;
}

p.a_note_multi2nd,
p.a_note_multi2nd_indent,
p.a_noteImportant_multi2nd,
p.a_noteImportant_multi2nd_indent
{
	border-top: none;
	border-bottom: none;
	margin-top: 0;
	margin-bottom: 0;
}

p.a_note_multiLast,
p.a_note_multiLast_indent,
p.a_noteImportant_multiLast,
p.a_noteImportant_multiLast_indent
{
	border-top: none;
	margin-top: 0;
}

p.a_note_indent,
p.a_note_multi1st_indent,
p.a_note_multi2nd_indent,
p.a_note_multiLast_indent,
p.a_noteImportant_indent,
p.a_noteImportant_multi1st_indent,
p.a_noteImportant_multi2nd_indent,
p.a_noteImportant_multiLast_indent
{
	mc-auto-number-position: inside-head;
	mc-auto-number-offset: -10px;
	padding-left: 60px;
}

MadCap|toggler
{
	mc-open-image: url('../Images/TogglerOpen.png');
	mc-closed-image: url('../Images/TogglerClosed.png');
}

b.OptionalFeatureOnly
{
	color: #008b8b;
}

p.indent_14
{
	margin-left: 28pt;
}

p.indent_28
{
	margin-left: 42pt;
}

@media non-print
{
	MadCap|breadcrumbsProxy
	{
		border-bottom-style: none;
		border-bottom-width: 0px;
		margin-bottom: 0px;
		padding-right: 4pt;
		padding: 4pt;
		padding-left: 8pt;
		font: Tahoma;
		font-family: Tahoma;
		font-size: 8pt;
		font-weight: bold;
		margin-top: -6pt;
		margin-left: -6pt;
		width: 100%;
		position: fixed;
		margin: 0px;
		top: 0px;
		right: 0px;
		left: 0px;
		padding-top: 4pt;
		background-color: #e0e7f8;
		border-top: solid 3px #a9a9a9;
		border-top-color: #696969;
	}

	MadCap|bodyProxy
	{
		margin: 0px;
		width: 100%;
		left: 0px;
		mc-breadcrumbs-count: 3;
		mc-breadcrumbs-divider: '>';
		mc-breadcrumbs-prefix: 'You are here:';
		padding-top: 0px;
		position: fixed;
		margin-top: 200px;
	}

	body
	{
		margin-bottom: 50px;
		top: 50px;
		margin-top: 10px;
		padding-top: 20px;
		background-color: #ffffff;
	}

	p
	{
		top: 12px;
	}

	MadCap|toggler
	{
		mc-closed-image: url('../Images/TogglerClosed.png');
		mc-open-image: url('../Images/TogglerOpen.png');
	}

	MadCap|dropDown
	{
		mc-open-image: url('../Images/DropDownOpen.png');
		mc-closed-image: url('../Images/DropDownClosed.png');
	}
}

MadCap|bodyProxy
{
	top: 200px;
}

body
{
	
}

p.Caption
{
	font-size: 12px;
}

@media print
{
	body
	{
		hyphens: none;
	}

	h1
	{
		color: #365f91;
		font-family: Cambria;
		font-size: 14pt;
		font-style: normal;
		font-weight: bold;
		margin: 0;
		display: block;
		page-break-before: avoid;
	}

	h1.h1notoc
	{
		mc-heading-level: 0;
		background-color: #ffffff;
	}

	h2
	{
		color: #4f81bd;
		font-weight: bold;
		margin-bottom: 3pt;
		margin-left: 7pt;
		margin-top: 6pt;
		font-size: 13pt;
		mc-heading-level: 0;
		font: Cambria;
		font-family: serif;
	}

	h3
	{
		mc-heading-level: 0;
		font-family: Cambria;
		font-size: 11pt;
		font-style: normal;
		margin-bottom: 6pt;
		margin-left: 11pt;
		margin-top: 12pt;
		color: #0f243e;
		font-weight: bold;
	}

	h4
	{
		font-weight: bold;
		color: #000000;
		font: Calibri;
		font-family: Tahoma;
		mc-heading-level: 0;
		font-size: 9pt;
		margin-left: 13pt;
	}

	img
	{
		max-width: 552px;
		border: solid 1px #4f81bd;
	}

	p.Caption
	{
		color: #4f81bd;
		font-family: Cambria;
		page-break-after: avoid;
	}

	body
	{
		margin-bottom: 0px;
		top: 0px;
		margin-top: 10px;
		padding-top: 0px;
		background-color: #ffffff;
	}

	a.webhelpskin_link
	{
		background-color: #39578d;
		font: tahoma;
		font-family: Tahoma;
		font-size: 10pt;
		color: #ffffff;
	}

	p
	{
		font: Calibri;
		font-family: Calibri;
		font-size: 11pt;
		color: #000000;
		background-color: #ffffff;
		margin-bottom: 6pt;
		margin-left: 14pt;
		margin: 1.12em;
		background: transparent;
		hyphens: off;
		line-height: 14pt;
	}

	html
	{
		background: ;
	}

	a.webhelpskin_link:visited
	{
		color: #ffffff;
	}

	a.webhelpskin_link:active
	{
		color: #1a5705;
	}

	MadCap|breadcrumbsProxy
	{
		font-style: normal;
		border-bottom-style: none;
		border-bottom-width: 0px;
		position: fixed;
		color: #66667f;
		border-top: none 0px #696969;
		border-bottom-color: #696969;
		background-color: #e0e7f8;
	}

	MadCap|breadcrumbsProxy
	{
		border-bottom-style: none;
		border-bottom-width: 0px;
		background-color: #f1f4fc;
		margin-bottom: 0px;
		padding-right: 4pt;
		padding-top: 4pt;
		padding: 4pt;
		padding-left: 8pt;
		font: Tahoma;
		color: #1a5705;
		margin-top: -6pt;
		margin-left: -6pt;
		width: 100%;
		position: fixed;
		margin: 0px;
		top: 0px;
		right: 0px;
		left: 0px;
	}

	MadCap|bodyProxy
	{
		margin: 0px;
		width: 100%;
		left: 0px;
		mc-breadcrumbs-count: 3;
		mc-breadcrumbs-divider: '>';
		mc-breadcrumbs-prefix: 'You are here:';
		padding-top: 0px;
		position: fixed;
		margin-top: 0px;
	}

	body
	{
		margin-bottom: 0px;
		background: transparent;
		top: 0px;
		margin-top: 0px;
		padding-top: 0px;
	}

	p
	{
		top: 12px;
	}

	MadCap|dropDown
	{
		mc-closed-image: url('../Images/DropDownClosed.png');
		mc-open-image: url('../Images/DropDownOpen.png');
	}

	ol
	{
		font: Calibri;
		font-family: Calibri;
		font-size: 11pt;
		color: #000000;
	}

	table.title_footer
	{
		font: Calibri;
		font-family: Calibri;
		font-size: 8pt;
		color: #a9a9a9;
		background-color: #585858;
	}

	p.title_footer
	{
		margin: 0;
		background: transparent;
	}

	MadCap|tocProxy
	{
		border-top-style: none;
		border-top-color: #ffffff;
	}

	th
	{
		border-top-style: none;
		border-left-style: none;
		border: none 0;
	}

	td
	{
		border: none 0;
	}

	h1.doc_title
	{
		color: #ffffff;
		font-size: 28pt;
		font-family: sans-serif;
	}

	h2.doc_subtitle
	{
		font-family: sans-serif;
		font-size: 16pt;
		color: #1a5805;
	}

	MadCap|glossaryProxy
	{
		border-top-style: none;
		font: Calibri;
		font-family: sans-serif;
		font-size: 11pt;
		border-top-color: #696969;
	}

	MadCap|glossaryTerm
	{
		color: #000000;
		font-size: 14pt;
	}

	table
	{
		frame-break-inside: avoid;
	}
}

MadCap|breadcrumbsProxy
{
	background-color: #e0e7f8;
	border-bottom-color: #696969;
	margin-top: 5px;
	padding-top: 10px;
}

MadCap|dropDown
{
	mc-closed-image: url('../Images/DropDownClosed.png');
	mc-open-image: url('../Images/DropDownOpen.png');
}

table.title_footer
{
	width: 100%;
}

p.title_footer
{
	margin: 10px;
	color: #e8e8e8;
}

MadCap|breadcrumbsProxy
{
	border-bottom-style: none;
	border-bottom-width: 0px;
	margin-bottom: 0px;
	padding-right: 4pt;
	padding-top: 4pt;
	padding: 4pt;
	padding-left: 8pt;
	font: Tahoma;
	font-family: Tahoma;
	font-size: 8pt;
	font-weight: bold;
	margin-top: -6pt;
	margin-left: -6pt;
	width: 100%;
	position: fixed;
	margin: 0px;
	top: 0px;
	right: 0px;
	left: 0px;
}

MadCap|bodyProxy
{
	margin: 0px;
	width: 100%;
	left: 0px;
	mc-breadcrumbs-count: 3;
	mc-breadcrumbs-divider: '>';
	mc-breadcrumbs-prefix: 'You are here:';
	padding-top: 0px;
	position: fixed;
	margin-top: 200px;
}

MadCap|toggler
{
	mc-closed-image: url('../Images/TogglerClosed.png');
	mc-open-image: url('../Images/TogglerOpen.png');
}

MadCap|dropDown
{
	mc-open-image: url('../Images/DropDownOpen.png');
	mc-closed-image: url('../Images/DropDownClosed.png');
}

MadCap|breadcrumbsProxy
{
	border-bottom-style: none;
	border-bottom-width: 0px;
	margin-bottom: 0px;
	padding-right: 4pt;
	padding: 4pt;
	padding-left: 8pt;
	font: Tahoma;
	font-family: Tahoma;
	font-size: 8pt;
	font-weight: bold;
	margin-top: -6pt;
	margin-left: -6pt;
	width: 100%;
	position: fixed;
	margin: 0px;
	top: 0px;
	right: 0px;
	left: 0px;
	padding-top: 4pt;
	background-color: #e0e7f8;
	border-top: solid 3px #a9a9a9;
	border-top-color: #696969;
}

MadCap|bodyProxy
{
	margin: 0px;
	width: 100%;
	left: 0px;
	mc-breadcrumbs-count: 3;
	mc-breadcrumbs-divider: '>';
	mc-breadcrumbs-prefix: 'You are here:';
	padding-top: 0px;
	position: fixed;
	margin-top: 200px;
}

body
{
	margin-bottom: 50px;
	top: 50px;
	margin-top: 10px;
	padding-top: 20px;
	background-color: #ffffff;
}

p
{
	top: 12px;
}

MadCap|toggler
{
	mc-closed-image: url('../Images/TogglerClosed.png');
	mc-open-image: url('../Images/TogglerOpen.png');
}

MadCap|dropDown
{
	mc-open-image: url('../Images/DropDownOpen.png');
	mc-closed-image: url('../Images/DropDownClosed.png');
}

MadCap|breadcrumbsProxy
{
	border-bottom-style: none;
	border-bottom-width: 0px;
	margin-bottom: 0px;
	padding-right: 4pt;
	padding: 4pt;
	padding-left: 8pt;
	font: Tahoma;
	font-family: Tahoma;
	font-size: 8pt;
	font-weight: bold;
	margin-top: -6pt;
	margin-left: -6pt;
	width: 100%;
	position: fixed;
	margin: 0px;
	top: 0px;
	right: 0px;
	left: 0px;
	padding-top: 4pt;
	background-color: #e0e7f8;
	border-top: solid 3px #a9a9a9;
	border-top-color: #696969;
}

MadCap|bodyProxy
{
	margin: 0px;
	width: 100%;
	left: 0px;
	mc-breadcrumbs-count: 3;
	mc-breadcrumbs-divider: '>';
	mc-breadcrumbs-prefix: 'You are here:';
	padding-top: 0px;
	position: fixed;
	margin-top: 200px;
}

p
{
	top: 12px;
}

MadCap|toggler
{
	mc-closed-image: url('../Images/TogglerClosed.png');
	mc-open-image: url('../Images/TogglerOpen.png');
}

MadCap|dropDown
{
	mc-open-image: url('../Images/DropDownOpen.png');
	mc-closed-image: url('../Images/DropDownClosed.png');
}

