/* MadCap Table Style: */

/*<meta Version="9" />*/

@media print
{
	mcTableStyle
	{
		border-left-style: solid;
		border-left-width: 2px;
		border-left-color: #a9a9a9;
		border-right-style: solid;
		border-right-width: 2px;
		border-right-color: #a9a9a9;
		border-top-style: solid;
		border-top-width: 2px;
		border-top-color: #a9a9a9;
		border-bottom-style: solid;
		border-bottom-width: 2px;
		border-bottom-color: #a9a9a9;
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		
	}

	mcTableBodyStyle
	{
		
	}

	mcTableFootStyle
	{
		
	}
}

mcTableStyle
{
	name: Border_table;
	border-collapse: collapse;
	border: 1px solid #e3e3e3;
	max-id: 3;
	border-left-style: solid;
	border-left-width: 2px;
	border-left-color: #a9a9a9;
	border-right-style: solid;
	border-right-width: 2px;
	border-right-color: #a9a9a9;
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: #a9a9a9;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #a9a9a9;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #d3d3d3;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #d3d3d3;
	name: Header1;
	id: 2;
	background-color: #f0f0f0;
	border: 1px solid #e3e3e3;
	color: #696969;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #d3d3d3;
	name: Body1;
	id: 1;
	page-break-inside: avoid;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #d3d3d3;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
@media print
{
	.TableStyle-Border_table
	{
		border-left-style: solid;
		border-left-color: #a9a9a9;
		border-left-width: 2px;
		border-right-style: solid;
		border-right-color: #a9a9a9;
		border-right-width: 2px;
		border-top-style: solid;
		border-top-color: #a9a9a9;
		border-top-width: 2px;
		border-bottom-style: solid;
		border-bottom-color: #a9a9a9;
		border-bottom-width: 2px;
		border-spacing: 0px 0px;
	}
}

.TableStyle-Border_table
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #a9a9a9;
	border-left-width: 2px;
	border-right-style: solid;
	border-right-color: #a9a9a9;
	border-right-width: 2px;
	border-top-style: solid;
	border-top-color: #a9a9a9;
	border-top-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #a9a9a9;
	border-bottom-width: 2px;
	border-spacing: 0px 0px;
}

.TableStyle-Border_table-Column-Column1
{
	
}

.TableStyle-Border_table-Head-Header1
{
	
}

.TableStyle-Border_table-HeadI-Column1-Header1
{
	color: #696969;
	background-color: #f0f0f0;
}

.TableStyle-Border_table-HeadI-Column1-Header1 p
{
	color: #696969;
}

.TableStyle-Border_table-HeadE-Column1-Header1
{
	border-right-width: 2px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
	color: #696969;
	background-color: #f0f0f0;
	border-bottom-width: 2px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
}

.TableStyle-Border_table-HeadE-Column1-Header1 p
{
	color: #696969;
}

.TableStyle-Border_table-HeadF-Column1-Header1
{
	color: #696969;
	background-color: #f0f0f0;
	border-bottom-width: 2px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
}

.TableStyle-Border_table-HeadF-Column1-Header1 p
{
	color: #696969;
}

.TableStyle-Border_table-HeadH-Column1-Header1
{
	border-right-width: 2px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
	color: #696969;
	background-color: #f0f0f0;
}

.TableStyle-Border_table-HeadH-Column1-Header1 p
{
	color: #696969;
}

.TableStyle-Border_table-HeadD-Column1-Header1
{
	color: #696969;
	background-color: #f0f0f0;
	border-bottom-width: 2px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
}

.TableStyle-Border_table-HeadD-Column1-Header1 p
{
	color: #696969;
}

.TableStyle-Border_table-HeadC-Column1-Header1
{
	color: #696969;
	background-color: #f0f0f0;
}

.TableStyle-Border_table-HeadC-Column1-Header1 p
{
	color: #696969;
}

.TableStyle-Border_table-HeadB-Column1-Header1
{
	border-right-width: 2px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
	color: #696969;
	background-color: #f0f0f0;
}

.TableStyle-Border_table-HeadB-Column1-Header1 p
{
	color: #696969;
}

.TableStyle-Border_table-HeadA-Column1-Header1
{
	color: #696969;
	background-color: #f0f0f0;
}

.TableStyle-Border_table-HeadA-Column1-Header1 p
{
	color: #696969;
}

.TableStyle-Border_table-HeadG-Column1-Header1
{
	color: #696969;
	background-color: #f0f0f0;
}

.TableStyle-Border_table-HeadG-Column1-Header1 p
{
	color: #696969;
}

.TableStyle-Border_table-Foot-Footer1
{
	
}

.TableStyle-Border_table-FootI-Column1-Footer1
{
	
}

.TableStyle-Border_table-FootI-Column1-Footer1 p
{
	
}

.TableStyle-Border_table-FootE-Column1-Footer1
{
	border-right-width: 2px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
	border-top-width: 2px;
	border-top-color: #d3d3d3;
	border-top-style: solid;
}

.TableStyle-Border_table-FootE-Column1-Footer1 p
{
	
}

.TableStyle-Border_table-FootF-Column1-Footer1
{
	border-top-width: 2px;
	border-top-color: #d3d3d3;
	border-top-style: solid;
}

.TableStyle-Border_table-FootF-Column1-Footer1 p
{
	
}

.TableStyle-Border_table-FootH-Column1-Footer1
{
	border-right-width: 2px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
}

.TableStyle-Border_table-FootH-Column1-Footer1 p
{
	
}

.TableStyle-Border_table-FootD-Column1-Footer1
{
	border-top-width: 2px;
	border-top-color: #d3d3d3;
	border-top-style: solid;
}

.TableStyle-Border_table-FootD-Column1-Footer1 p
{
	
}

.TableStyle-Border_table-FootC-Column1-Footer1
{
	
}

.TableStyle-Border_table-FootC-Column1-Footer1 p
{
	
}

.TableStyle-Border_table-FootB-Column1-Footer1
{
	border-right-width: 2px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
}

.TableStyle-Border_table-FootB-Column1-Footer1 p
{
	
}

.TableStyle-Border_table-FootA-Column1-Footer1
{
	
}

.TableStyle-Border_table-FootA-Column1-Footer1 p
{
	
}

.TableStyle-Border_table-FootG-Column1-Footer1
{
	
}

.TableStyle-Border_table-FootG-Column1-Footer1 p
{
	
}

.TableStyle-Border_table-Body-Body1
{
	page-break-inside: avoid;
}

.TableStyle-Border_table-BodyI-Column1-Body1
{
	
}

.TableStyle-Border_table-BodyI-Column1-Body1 p
{
	
}

.TableStyle-Border_table-BodyE-Column1-Body1
{
	border-bottom-width: 2px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
	border-right-width: 2px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
}

.TableStyle-Border_table-BodyE-Column1-Body1 p
{
	
}

.TableStyle-Border_table-BodyF-Column1-Body1
{
	border-bottom-width: 2px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
}

.TableStyle-Border_table-BodyF-Column1-Body1 p
{
	
}

.TableStyle-Border_table-BodyH-Column1-Body1
{
	border-right-width: 2px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
}

.TableStyle-Border_table-BodyH-Column1-Body1 p
{
	
}

.TableStyle-Border_table-BodyD-Column1-Body1
{
	border-bottom-width: 2px;
	border-bottom-color: #d3d3d3;
	border-bottom-style: solid;
}

.TableStyle-Border_table-BodyD-Column1-Body1 p
{
	
}

.TableStyle-Border_table-BodyC-Column1-Body1
{
	
}

.TableStyle-Border_table-BodyC-Column1-Body1 p
{
	
}

.TableStyle-Border_table-BodyB-Column1-Body1
{
	border-right-width: 2px;
	border-right-color: #d3d3d3;
	border-right-style: solid;
}

.TableStyle-Border_table-BodyB-Column1-Body1 p
{
	
}

.TableStyle-Border_table-BodyA-Column1-Body1
{
	
}

.TableStyle-Border_table-BodyA-Column1-Body1 p
{
	
}

.TableStyle-Border_table-BodyG-Column1-Body1
{
	
}

.TableStyle-Border_table-BodyG-Column1-Body1 p
{
	
}


