/* MadCap Table Style: */

/*<meta Version="9" />*/

@media print
{
	mcTableStyle
	{
		
	}

	mcTableColumnStyle
	{
		
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		
	}

	mcTableBodyStyle
	{
		font-size: 28pt;
		font-family: 'Microsoft Sans Serif';
		color: #ffffff;
		font-weight: bolder;
		font-style: normal;
	}

	mcTableBodyStyle
	{
		
	}

	mcTableFootStyle
	{
		
	}
}

mcTableStyle
{
	name: Title;
	border-collapse: collapse;
	border-left-style: none;
	border-left-width: 0px;
	border-right-style: none;
	border-right-width: 0px;
	border-right-color: #000000;
	border-top-style: none;
	border-top-width: 0px;
	border-top-color: #000000;
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	max-id: 5;
	border-left-color: #000000;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: none;
	separator-width: 0px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	text-align: center;
	size: 0;
	cell-padding-left: 35px;
	vertical-align: middle;
	cell-padding-top: 4px;
}

mcTableColumnStyle
{
	span: 1;
	id: 5;
	name: Column2;
	vertical-align: middle;
	cell-padding-top: 2px;
	background-image: none;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Header1;
	id: 2;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: none;
	separator-width: 0px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	size: 0.6in;
	font-size: 28pt;
	font-weight: bolder;
	font-style: normal;
	cell-padding-left: 0px;
	cell-padding-right: 10px;
	font-family: 'Microsoft Sans Serif';
	color: #ffffff;
	text-align: right;
	background-color: #575757;
}

mcTableBodyStyle
{
	span: 1;
	id: 4;
	name: Body2;
	size: 0.4in;
	background-color: #f5f4ee;
	font-family: 'Microsoft Sans Serif';
	color: #1a5805;
	font-style: normal;
	separator-style: none;
	separator-width: 0px;
	vertical-align: middle;
	separator-color: #f5f4ee;
	text-align: right;
	cell-padding-right: 10px;
	font-size: 16pt;
	font-weight: bold;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
@media print
{
	.TableStyle-Title
	{
		border-spacing: 0px 0px;
	}

	.TableStyle-Title-BodyI-Column1-Body1
	{
		color: #ffffff;
		font-family: 'Microsoft Sans Serif';
		font-size: 28pt;
		font-weight: bolder;
		font-style: normal;
	}

	.TableStyle-Title-BodyI-Column1-Body1 p
	{
		color: #ffffff;
		font-family: 'Microsoft Sans Serif';
		font-size: 28pt;
		font-weight: bolder;
		font-style: normal;
	}

	.TableStyle-Title-BodyE-Column1-Body1
	{
		color: #ffffff;
		font-family: 'Microsoft Sans Serif';
		font-size: 28pt;
		font-weight: bolder;
		font-style: normal;
	}

	.TableStyle-Title-BodyE-Column1-Body1 p
	{
		color: #ffffff;
		font-family: 'Microsoft Sans Serif';
		font-size: 28pt;
		font-weight: bolder;
		font-style: normal;
	}

	.TableStyle-Title-BodyF-Column1-Body1
	{
		color: #ffffff;
		font-family: 'Microsoft Sans Serif';
		font-size: 28pt;
		font-weight: bolder;
		font-style: normal;
	}

	.TableStyle-Title-BodyF-Column1-Body1 p
	{
		color: #ffffff;
		font-family: 'Microsoft Sans Serif';
		font-size: 28pt;
		font-weight: bolder;
		font-style: normal;
	}

	.TableStyle-Title-BodyH-Column1-Body1
	{
		color: #ffffff;
		font-family: 'Microsoft Sans Serif';
		font-size: 28pt;
		font-weight: bolder;
		font-style: normal;
	}

	.TableStyle-Title-BodyH-Column1-Body1 p
	{
		color: #ffffff;
		font-family: 'Microsoft Sans Serif';
		font-size: 28pt;
		font-weight: bolder;
		font-style: normal;
	}

	.TableStyle-Title-BodyD-Column1-Body1
	{
		color: #ffffff;
		font-family: 'Microsoft Sans Serif';
		font-size: 28pt;
		font-weight: bolder;
		font-style: normal;
	}

	.TableStyle-Title-BodyD-Column1-Body1 p
	{
		color: #ffffff;
		font-family: 'Microsoft Sans Serif';
		font-size: 28pt;
		font-weight: bolder;
		font-style: normal;
	}

	.TableStyle-Title-BodyC-Column1-Body1
	{
		color: #ffffff;
		font-family: 'Microsoft Sans Serif';
		font-size: 28pt;
		font-weight: bolder;
		font-style: normal;
	}

	.TableStyle-Title-BodyC-Column1-Body1 p
	{
		color: #ffffff;
		font-family: 'Microsoft Sans Serif';
		font-size: 28pt;
		font-weight: bolder;
		font-style: normal;
	}

	.TableStyle-Title-BodyB-Column1-Body1
	{
		color: #ffffff;
		font-family: 'Microsoft Sans Serif';
		font-size: 28pt;
		font-weight: bolder;
		font-style: normal;
	}

	.TableStyle-Title-BodyB-Column1-Body1 p
	{
		color: #ffffff;
		font-family: 'Microsoft Sans Serif';
		font-size: 28pt;
		font-weight: bolder;
		font-style: normal;
	}

	.TableStyle-Title-BodyA-Column1-Body1
	{
		color: #ffffff;
		font-family: 'Microsoft Sans Serif';
		font-size: 28pt;
		font-weight: bolder;
		font-style: normal;
	}

	.TableStyle-Title-BodyA-Column1-Body1 p
	{
		color: #ffffff;
		font-family: 'Microsoft Sans Serif';
		font-size: 28pt;
		font-weight: bolder;
		font-style: normal;
	}

	.TableStyle-Title-BodyG-Column1-Body1
	{
		color: #ffffff;
		font-family: 'Microsoft Sans Serif';
		font-size: 28pt;
		font-weight: bolder;
		font-style: normal;
	}

	.TableStyle-Title-BodyG-Column1-Body1 p
	{
		color: #ffffff;
		font-family: 'Microsoft Sans Serif';
		font-size: 28pt;
		font-weight: bolder;
		font-style: normal;
	}

	.TableStyle-Title-BodyI-Column2-Body1
	{
		color: #ffffff;
		font-family: 'Microsoft Sans Serif';
		font-size: 28pt;
		font-weight: bolder;
		font-style: normal;
	}

	.TableStyle-Title-BodyI-Column2-Body1 p
	{
		color: #ffffff;
		font-family: 'Microsoft Sans Serif';
		font-size: 28pt;
		font-weight: bolder;
		font-style: normal;
	}

	.TableStyle-Title-BodyE-Column2-Body1
	{
		color: #ffffff;
		font-family: 'Microsoft Sans Serif';
		font-size: 28pt;
		font-weight: bolder;
		font-style: normal;
	}

	.TableStyle-Title-BodyE-Column2-Body1 p
	{
		color: #ffffff;
		font-family: 'Microsoft Sans Serif';
		font-size: 28pt;
		font-weight: bolder;
		font-style: normal;
	}

	.TableStyle-Title-BodyF-Column2-Body1
	{
		color: #ffffff;
		font-family: 'Microsoft Sans Serif';
		font-size: 28pt;
		font-weight: bolder;
		font-style: normal;
	}

	.TableStyle-Title-BodyF-Column2-Body1 p
	{
		color: #ffffff;
		font-family: 'Microsoft Sans Serif';
		font-size: 28pt;
		font-weight: bolder;
		font-style: normal;
	}

	.TableStyle-Title-BodyH-Column2-Body1
	{
		color: #ffffff;
		font-family: 'Microsoft Sans Serif';
		font-size: 28pt;
		font-weight: bolder;
		font-style: normal;
	}

	.TableStyle-Title-BodyH-Column2-Body1 p
	{
		color: #ffffff;
		font-family: 'Microsoft Sans Serif';
		font-size: 28pt;
		font-weight: bolder;
		font-style: normal;
	}

	.TableStyle-Title-BodyD-Column2-Body1
	{
		color: #ffffff;
		font-family: 'Microsoft Sans Serif';
		font-size: 28pt;
		font-weight: bolder;
		font-style: normal;
	}

	.TableStyle-Title-BodyD-Column2-Body1 p
	{
		color: #ffffff;
		font-family: 'Microsoft Sans Serif';
		font-size: 28pt;
		font-weight: bolder;
		font-style: normal;
	}

	.TableStyle-Title-BodyC-Column2-Body1
	{
		color: #ffffff;
		font-family: 'Microsoft Sans Serif';
		font-size: 28pt;
		font-weight: bolder;
		font-style: normal;
	}

	.TableStyle-Title-BodyC-Column2-Body1 p
	{
		color: #ffffff;
		font-family: 'Microsoft Sans Serif';
		font-size: 28pt;
		font-weight: bolder;
		font-style: normal;
	}

	.TableStyle-Title-BodyB-Column2-Body1
	{
		color: #ffffff;
		font-family: 'Microsoft Sans Serif';
		font-size: 28pt;
		font-weight: bolder;
		font-style: normal;
	}

	.TableStyle-Title-BodyB-Column2-Body1 p
	{
		color: #ffffff;
		font-family: 'Microsoft Sans Serif';
		font-size: 28pt;
		font-weight: bolder;
		font-style: normal;
	}

	.TableStyle-Title-BodyA-Column2-Body1
	{
		color: #ffffff;
		font-family: 'Microsoft Sans Serif';
		font-size: 28pt;
		font-weight: bolder;
		font-style: normal;
	}

	.TableStyle-Title-BodyA-Column2-Body1 p
	{
		color: #ffffff;
		font-family: 'Microsoft Sans Serif';
		font-size: 28pt;
		font-weight: bolder;
		font-style: normal;
	}

	.TableStyle-Title-BodyG-Column2-Body1
	{
		color: #ffffff;
		font-family: 'Microsoft Sans Serif';
		font-size: 28pt;
		font-weight: bolder;
		font-style: normal;
	}

	.TableStyle-Title-BodyG-Column2-Body1 p
	{
		color: #ffffff;
		font-family: 'Microsoft Sans Serif';
		font-size: 28pt;
		font-weight: bolder;
		font-style: normal;
	}
}

.TableStyle-Title
{
	border-collapse: collapse;
	border-left-style: none;
	border-left-color: #000000;
	border-left-width: 0px;
	border-right-style: none;
	border-right-color: #000000;
	border-right-width: 0px;
	border-top-style: none;
	border-top-color: #000000;
	border-top-width: 0px;
	border-bottom-style: none;
	border-bottom-color: #000000;
	border-bottom-width: 0px;
	border-spacing: 0px 0px;
}

.TableStyle-Title-Column-Column1
{
	width: 0;
}

.TableStyle-Title-Column-Column2
{
	
}

.TableStyle-Title-Head-Header1
{
	
}

.TableStyle-Title-HeadI-Column1-Header1
{
	text-align: left;
	vertical-align: middle;
	padding-left: 35px;
	padding-top: 4px;
}

.TableStyle-Title-HeadI-Column1-Header1 p
{
	
}

.TableStyle-Title-HeadE-Column1-Header1
{
	text-align: left;
	vertical-align: middle;
	padding-left: 35px;
	padding-top: 4px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Title-HeadE-Column1-Header1 p
{
	
}

.TableStyle-Title-HeadF-Column1-Header1
{
	text-align: left;
	vertical-align: middle;
	padding-left: 35px;
	padding-top: 4px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Title-HeadF-Column1-Header1 p
{
	
}

.TableStyle-Title-HeadH-Column1-Header1
{
	text-align: left;
	vertical-align: middle;
	padding-left: 35px;
	padding-top: 4px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Title-HeadH-Column1-Header1 p
{
	
}

.TableStyle-Title-HeadD-Column1-Header1
{
	text-align: left;
	vertical-align: middle;
	padding-left: 35px;
	padding-top: 4px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Title-HeadD-Column1-Header1 p
{
	
}

.TableStyle-Title-HeadC-Column1-Header1
{
	text-align: left;
	vertical-align: middle;
	padding-left: 35px;
	padding-top: 4px;
}

.TableStyle-Title-HeadC-Column1-Header1 p
{
	
}

.TableStyle-Title-HeadB-Column1-Header1
{
	text-align: left;
	vertical-align: middle;
	padding-left: 35px;
	padding-top: 4px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Title-HeadB-Column1-Header1 p
{
	
}

.TableStyle-Title-HeadA-Column1-Header1
{
	text-align: left;
	vertical-align: middle;
	padding-left: 35px;
	padding-top: 4px;
}

.TableStyle-Title-HeadA-Column1-Header1 p
{
	
}

.TableStyle-Title-HeadG-Column1-Header1
{
	text-align: left;
	vertical-align: middle;
	padding-left: 35px;
	padding-top: 4px;
}

.TableStyle-Title-HeadG-Column1-Header1 p
{
	
}

.TableStyle-Title-HeadI-Column2-Header1
{
	vertical-align: middle;
	background-image: none;
	padding-top: 2px;
}

.TableStyle-Title-HeadI-Column2-Header1 p
{
	
}

.TableStyle-Title-HeadE-Column2-Header1
{
	vertical-align: middle;
	background-image: none;
	padding-top: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Title-HeadE-Column2-Header1 p
{
	
}

.TableStyle-Title-HeadF-Column2-Header1
{
	vertical-align: middle;
	background-image: none;
	padding-top: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Title-HeadF-Column2-Header1 p
{
	
}

.TableStyle-Title-HeadH-Column2-Header1
{
	vertical-align: middle;
	background-image: none;
	padding-top: 2px;
}

.TableStyle-Title-HeadH-Column2-Header1 p
{
	
}

.TableStyle-Title-HeadD-Column2-Header1
{
	vertical-align: middle;
	background-image: none;
	padding-top: 2px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Title-HeadD-Column2-Header1 p
{
	
}

.TableStyle-Title-HeadC-Column2-Header1
{
	vertical-align: middle;
	background-image: none;
	padding-top: 2px;
}

.TableStyle-Title-HeadC-Column2-Header1 p
{
	
}

.TableStyle-Title-HeadB-Column2-Header1
{
	vertical-align: middle;
	background-image: none;
	padding-top: 2px;
}

.TableStyle-Title-HeadB-Column2-Header1 p
{
	
}

.TableStyle-Title-HeadA-Column2-Header1
{
	vertical-align: middle;
	background-image: none;
	padding-top: 2px;
}

.TableStyle-Title-HeadA-Column2-Header1 p
{
	
}

.TableStyle-Title-HeadG-Column2-Header1
{
	vertical-align: middle;
	background-image: none;
	padding-top: 2px;
}

.TableStyle-Title-HeadG-Column2-Header1 p
{
	
}

.TableStyle-Title-Foot-Footer1
{
	
}

.TableStyle-Title-FootI-Column1-Footer1
{
	text-align: left;
	vertical-align: middle;
	padding-left: 35px;
	padding-top: 4px;
}

.TableStyle-Title-FootI-Column1-Footer1 p
{
	
}

.TableStyle-Title-FootE-Column1-Footer1
{
	text-align: left;
	vertical-align: middle;
	padding-left: 35px;
	padding-top: 4px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Title-FootE-Column1-Footer1 p
{
	
}

.TableStyle-Title-FootF-Column1-Footer1
{
	text-align: left;
	vertical-align: middle;
	padding-left: 35px;
	padding-top: 4px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Title-FootF-Column1-Footer1 p
{
	
}

.TableStyle-Title-FootH-Column1-Footer1
{
	text-align: left;
	vertical-align: middle;
	padding-left: 35px;
	padding-top: 4px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Title-FootH-Column1-Footer1 p
{
	
}

.TableStyle-Title-FootD-Column1-Footer1
{
	text-align: left;
	vertical-align: middle;
	padding-left: 35px;
	padding-top: 4px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Title-FootD-Column1-Footer1 p
{
	
}

.TableStyle-Title-FootC-Column1-Footer1
{
	text-align: left;
	vertical-align: middle;
	padding-left: 35px;
	padding-top: 4px;
}

.TableStyle-Title-FootC-Column1-Footer1 p
{
	
}

.TableStyle-Title-FootB-Column1-Footer1
{
	text-align: left;
	vertical-align: middle;
	padding-left: 35px;
	padding-top: 4px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Title-FootB-Column1-Footer1 p
{
	
}

.TableStyle-Title-FootA-Column1-Footer1
{
	text-align: left;
	vertical-align: middle;
	padding-left: 35px;
	padding-top: 4px;
}

.TableStyle-Title-FootA-Column1-Footer1 p
{
	
}

.TableStyle-Title-FootG-Column1-Footer1
{
	text-align: left;
	vertical-align: middle;
	padding-left: 35px;
	padding-top: 4px;
}

.TableStyle-Title-FootG-Column1-Footer1 p
{
	
}

.TableStyle-Title-FootI-Column2-Footer1
{
	vertical-align: middle;
	background-image: none;
	padding-top: 2px;
}

.TableStyle-Title-FootI-Column2-Footer1 p
{
	
}

.TableStyle-Title-FootE-Column2-Footer1
{
	vertical-align: middle;
	background-image: none;
	padding-top: 2px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Title-FootE-Column2-Footer1 p
{
	
}

.TableStyle-Title-FootF-Column2-Footer1
{
	vertical-align: middle;
	background-image: none;
	padding-top: 2px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Title-FootF-Column2-Footer1 p
{
	
}

.TableStyle-Title-FootH-Column2-Footer1
{
	vertical-align: middle;
	background-image: none;
	padding-top: 2px;
}

.TableStyle-Title-FootH-Column2-Footer1 p
{
	
}

.TableStyle-Title-FootD-Column2-Footer1
{
	vertical-align: middle;
	background-image: none;
	padding-top: 2px;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Title-FootD-Column2-Footer1 p
{
	
}

.TableStyle-Title-FootC-Column2-Footer1
{
	vertical-align: middle;
	background-image: none;
	padding-top: 2px;
}

.TableStyle-Title-FootC-Column2-Footer1 p
{
	
}

.TableStyle-Title-FootB-Column2-Footer1
{
	vertical-align: middle;
	background-image: none;
	padding-top: 2px;
}

.TableStyle-Title-FootB-Column2-Footer1 p
{
	
}

.TableStyle-Title-FootA-Column2-Footer1
{
	vertical-align: middle;
	background-image: none;
	padding-top: 2px;
}

.TableStyle-Title-FootA-Column2-Footer1 p
{
	
}

.TableStyle-Title-FootG-Column2-Footer1
{
	vertical-align: middle;
	background-image: none;
	padding-top: 2px;
}

.TableStyle-Title-FootG-Column2-Footer1 p
{
	
}

.TableStyle-Title-Body-Body1
{
	height: 0.6in;
}

.TableStyle-Title-BodyI-Column1-Body1
{
	color: #ffffff;
	font-family: 'Microsoft Sans Serif';
	font-size: 28pt;
	font-weight: bolder;
	font-style: normal;
	background-color: #575757;
	padding-right: 10px;
	text-align: left;
	vertical-align: middle;
	padding-left: 35px;
	padding-top: 4px;
}

.TableStyle-Title-BodyI-Column1-Body1 p
{
	color: #ffffff;
	font-family: 'Microsoft Sans Serif';
	font-size: 28pt;
	font-weight: bolder;
	font-style: normal;
}

.TableStyle-Title-BodyE-Column1-Body1
{
	color: #ffffff;
	font-family: 'Microsoft Sans Serif';
	font-size: 28pt;
	font-weight: bolder;
	font-style: normal;
	background-color: #575757;
	padding-right: 10px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: left;
	vertical-align: middle;
	padding-left: 35px;
	padding-top: 4px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Title-BodyE-Column1-Body1 p
{
	color: #ffffff;
	font-family: 'Microsoft Sans Serif';
	font-size: 28pt;
	font-weight: bolder;
	font-style: normal;
}

.TableStyle-Title-BodyF-Column1-Body1
{
	color: #ffffff;
	font-family: 'Microsoft Sans Serif';
	font-size: 28pt;
	font-weight: bolder;
	font-style: normal;
	background-color: #575757;
	padding-right: 10px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: left;
	vertical-align: middle;
	padding-left: 35px;
	padding-top: 4px;
}

.TableStyle-Title-BodyF-Column1-Body1 p
{
	color: #ffffff;
	font-family: 'Microsoft Sans Serif';
	font-size: 28pt;
	font-weight: bolder;
	font-style: normal;
}

.TableStyle-Title-BodyH-Column1-Body1
{
	color: #ffffff;
	font-family: 'Microsoft Sans Serif';
	font-size: 28pt;
	font-weight: bolder;
	font-style: normal;
	background-color: #575757;
	padding-right: 10px;
	text-align: left;
	vertical-align: middle;
	padding-left: 35px;
	padding-top: 4px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Title-BodyH-Column1-Body1 p
{
	color: #ffffff;
	font-family: 'Microsoft Sans Serif';
	font-size: 28pt;
	font-weight: bolder;
	font-style: normal;
}

.TableStyle-Title-BodyD-Column1-Body1
{
	color: #ffffff;
	font-family: 'Microsoft Sans Serif';
	font-size: 28pt;
	font-weight: bolder;
	font-style: normal;
	background-color: #575757;
	padding-right: 10px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: left;
	vertical-align: middle;
	padding-left: 35px;
	padding-top: 4px;
}

.TableStyle-Title-BodyD-Column1-Body1 p
{
	color: #ffffff;
	font-family: 'Microsoft Sans Serif';
	font-size: 28pt;
	font-weight: bolder;
	font-style: normal;
}

.TableStyle-Title-BodyC-Column1-Body1
{
	color: #ffffff;
	font-family: 'Microsoft Sans Serif';
	font-size: 28pt;
	font-weight: bolder;
	font-style: normal;
	background-color: #575757;
	padding-right: 10px;
	text-align: left;
	vertical-align: middle;
	padding-left: 35px;
	padding-top: 4px;
}

.TableStyle-Title-BodyC-Column1-Body1 p
{
	color: #ffffff;
	font-family: 'Microsoft Sans Serif';
	font-size: 28pt;
	font-weight: bolder;
	font-style: normal;
}

.TableStyle-Title-BodyB-Column1-Body1
{
	color: #ffffff;
	font-family: 'Microsoft Sans Serif';
	font-size: 28pt;
	font-weight: bolder;
	font-style: normal;
	background-color: #575757;
	padding-right: 10px;
	text-align: left;
	vertical-align: middle;
	padding-left: 35px;
	padding-top: 4px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Title-BodyB-Column1-Body1 p
{
	color: #ffffff;
	font-family: 'Microsoft Sans Serif';
	font-size: 28pt;
	font-weight: bolder;
	font-style: normal;
}

.TableStyle-Title-BodyA-Column1-Body1
{
	color: #ffffff;
	font-family: 'Microsoft Sans Serif';
	font-size: 28pt;
	font-weight: bolder;
	font-style: normal;
	background-color: #575757;
	padding-right: 10px;
	text-align: left;
	vertical-align: middle;
	padding-left: 35px;
	padding-top: 4px;
}

.TableStyle-Title-BodyA-Column1-Body1 p
{
	color: #ffffff;
	font-family: 'Microsoft Sans Serif';
	font-size: 28pt;
	font-weight: bolder;
	font-style: normal;
}

.TableStyle-Title-BodyG-Column1-Body1
{
	color: #ffffff;
	font-family: 'Microsoft Sans Serif';
	font-size: 28pt;
	font-weight: bolder;
	font-style: normal;
	background-color: #575757;
	padding-right: 10px;
	text-align: left;
	vertical-align: middle;
	padding-left: 35px;
	padding-top: 4px;
}

.TableStyle-Title-BodyG-Column1-Body1 p
{
	color: #ffffff;
	font-family: 'Microsoft Sans Serif';
	font-size: 28pt;
	font-weight: bolder;
	font-style: normal;
}

.TableStyle-Title-BodyI-Column2-Body1
{
	color: #ffffff;
	font-family: 'Microsoft Sans Serif';
	font-size: 28pt;
	font-weight: bolder;
	font-style: normal;
	text-align: right;
	background-color: #575757;
	padding-left: 0px;
	padding-right: 10px;
	vertical-align: middle;
	background-image: none;
	padding-top: 2px;
}

.TableStyle-Title-BodyI-Column2-Body1 p
{
	color: #ffffff;
	font-family: 'Microsoft Sans Serif';
	font-size: 28pt;
	font-weight: bolder;
	font-style: normal;
}

.TableStyle-Title-BodyE-Column2-Body1
{
	color: #ffffff;
	font-family: 'Microsoft Sans Serif';
	font-size: 28pt;
	font-weight: bolder;
	font-style: normal;
	text-align: right;
	background-color: #575757;
	padding-left: 0px;
	padding-right: 10px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	vertical-align: middle;
	background-image: none;
	padding-top: 2px;
}

.TableStyle-Title-BodyE-Column2-Body1 p
{
	color: #ffffff;
	font-family: 'Microsoft Sans Serif';
	font-size: 28pt;
	font-weight: bolder;
	font-style: normal;
}

.TableStyle-Title-BodyF-Column2-Body1
{
	color: #ffffff;
	font-family: 'Microsoft Sans Serif';
	font-size: 28pt;
	font-weight: bolder;
	font-style: normal;
	text-align: right;
	background-color: #575757;
	padding-left: 0px;
	padding-right: 10px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	vertical-align: middle;
	background-image: none;
	padding-top: 2px;
}

.TableStyle-Title-BodyF-Column2-Body1 p
{
	color: #ffffff;
	font-family: 'Microsoft Sans Serif';
	font-size: 28pt;
	font-weight: bolder;
	font-style: normal;
}

.TableStyle-Title-BodyH-Column2-Body1
{
	color: #ffffff;
	font-family: 'Microsoft Sans Serif';
	font-size: 28pt;
	font-weight: bolder;
	font-style: normal;
	text-align: right;
	background-color: #575757;
	padding-left: 0px;
	padding-right: 10px;
	vertical-align: middle;
	background-image: none;
	padding-top: 2px;
}

.TableStyle-Title-BodyH-Column2-Body1 p
{
	color: #ffffff;
	font-family: 'Microsoft Sans Serif';
	font-size: 28pt;
	font-weight: bolder;
	font-style: normal;
}

.TableStyle-Title-BodyD-Column2-Body1
{
	color: #ffffff;
	font-family: 'Microsoft Sans Serif';
	font-size: 28pt;
	font-weight: bolder;
	font-style: normal;
	text-align: right;
	background-color: #575757;
	padding-left: 0px;
	padding-right: 10px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	vertical-align: middle;
	background-image: none;
	padding-top: 2px;
}

.TableStyle-Title-BodyD-Column2-Body1 p
{
	color: #ffffff;
	font-family: 'Microsoft Sans Serif';
	font-size: 28pt;
	font-weight: bolder;
	font-style: normal;
}

.TableStyle-Title-BodyC-Column2-Body1
{
	color: #ffffff;
	font-family: 'Microsoft Sans Serif';
	font-size: 28pt;
	font-weight: bolder;
	font-style: normal;
	text-align: right;
	background-color: #575757;
	padding-left: 0px;
	padding-right: 10px;
	vertical-align: middle;
	background-image: none;
	padding-top: 2px;
}

.TableStyle-Title-BodyC-Column2-Body1 p
{
	color: #ffffff;
	font-family: 'Microsoft Sans Serif';
	font-size: 28pt;
	font-weight: bolder;
	font-style: normal;
}

.TableStyle-Title-BodyB-Column2-Body1
{
	color: #ffffff;
	font-family: 'Microsoft Sans Serif';
	font-size: 28pt;
	font-weight: bolder;
	font-style: normal;
	text-align: right;
	background-color: #575757;
	padding-left: 0px;
	padding-right: 10px;
	vertical-align: middle;
	background-image: none;
	padding-top: 2px;
}

.TableStyle-Title-BodyB-Column2-Body1 p
{
	color: #ffffff;
	font-family: 'Microsoft Sans Serif';
	font-size: 28pt;
	font-weight: bolder;
	font-style: normal;
}

.TableStyle-Title-BodyA-Column2-Body1
{
	color: #ffffff;
	font-family: 'Microsoft Sans Serif';
	font-size: 28pt;
	font-weight: bolder;
	font-style: normal;
	text-align: right;
	background-color: #575757;
	padding-left: 0px;
	padding-right: 10px;
	vertical-align: middle;
	background-image: none;
	padding-top: 2px;
}

.TableStyle-Title-BodyA-Column2-Body1 p
{
	color: #ffffff;
	font-family: 'Microsoft Sans Serif';
	font-size: 28pt;
	font-weight: bolder;
	font-style: normal;
}

.TableStyle-Title-BodyG-Column2-Body1
{
	color: #ffffff;
	font-family: 'Microsoft Sans Serif';
	font-size: 28pt;
	font-weight: bolder;
	font-style: normal;
	text-align: right;
	background-color: #575757;
	padding-left: 0px;
	padding-right: 10px;
	vertical-align: middle;
	background-image: none;
	padding-top: 2px;
}

.TableStyle-Title-BodyG-Column2-Body1 p
{
	color: #ffffff;
	font-family: 'Microsoft Sans Serif';
	font-size: 28pt;
	font-weight: bolder;
	font-style: normal;
}

.TableStyle-Title-Body-Body2
{
	height: 0.4in;
}

.TableStyle-Title-BodyI-Column1-Body2
{
	color: #1a5805;
	font-family: 'Microsoft Sans Serif';
	font-size: 16pt;
	font-weight: bold;
	font-style: normal;
	background-color: #f5f4ee;
	padding-right: 10px;
	text-align: left;
	vertical-align: middle;
	padding-left: 35px;
	padding-top: 4px;
}

.TableStyle-Title-BodyI-Column1-Body2 p
{
	color: #1a5805;
	font-family: 'Microsoft Sans Serif';
	font-size: 16pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Title-BodyE-Column1-Body2
{
	color: #1a5805;
	font-family: 'Microsoft Sans Serif';
	font-size: 16pt;
	font-weight: bold;
	font-style: normal;
	background-color: #f5f4ee;
	padding-right: 10px;
	border-bottom-width: 0px;
	border-bottom-color: #f5f4ee;
	border-bottom-style: none;
	text-align: left;
	vertical-align: middle;
	padding-left: 35px;
	padding-top: 4px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Title-BodyE-Column1-Body2 p
{
	color: #1a5805;
	font-family: 'Microsoft Sans Serif';
	font-size: 16pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Title-BodyF-Column1-Body2
{
	color: #1a5805;
	font-family: 'Microsoft Sans Serif';
	font-size: 16pt;
	font-weight: bold;
	font-style: normal;
	background-color: #f5f4ee;
	padding-right: 10px;
	border-bottom-width: 0px;
	border-bottom-color: #f5f4ee;
	border-bottom-style: none;
	text-align: left;
	vertical-align: middle;
	padding-left: 35px;
	padding-top: 4px;
}

.TableStyle-Title-BodyF-Column1-Body2 p
{
	color: #1a5805;
	font-family: 'Microsoft Sans Serif';
	font-size: 16pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Title-BodyH-Column1-Body2
{
	color: #1a5805;
	font-family: 'Microsoft Sans Serif';
	font-size: 16pt;
	font-weight: bold;
	font-style: normal;
	background-color: #f5f4ee;
	padding-right: 10px;
	text-align: left;
	vertical-align: middle;
	padding-left: 35px;
	padding-top: 4px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Title-BodyH-Column1-Body2 p
{
	color: #1a5805;
	font-family: 'Microsoft Sans Serif';
	font-size: 16pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Title-BodyD-Column1-Body2
{
	color: #1a5805;
	font-family: 'Microsoft Sans Serif';
	font-size: 16pt;
	font-weight: bold;
	font-style: normal;
	background-color: #f5f4ee;
	padding-right: 10px;
	border-bottom-width: 0px;
	border-bottom-color: #f5f4ee;
	border-bottom-style: none;
	text-align: left;
	vertical-align: middle;
	padding-left: 35px;
	padding-top: 4px;
}

.TableStyle-Title-BodyD-Column1-Body2 p
{
	color: #1a5805;
	font-family: 'Microsoft Sans Serif';
	font-size: 16pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Title-BodyC-Column1-Body2
{
	color: #1a5805;
	font-family: 'Microsoft Sans Serif';
	font-size: 16pt;
	font-weight: bold;
	font-style: normal;
	background-color: #f5f4ee;
	padding-right: 10px;
	text-align: left;
	vertical-align: middle;
	padding-left: 35px;
	padding-top: 4px;
}

.TableStyle-Title-BodyC-Column1-Body2 p
{
	color: #1a5805;
	font-family: 'Microsoft Sans Serif';
	font-size: 16pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Title-BodyB-Column1-Body2
{
	color: #1a5805;
	font-family: 'Microsoft Sans Serif';
	font-size: 16pt;
	font-weight: bold;
	font-style: normal;
	background-color: #f5f4ee;
	padding-right: 10px;
	text-align: left;
	vertical-align: middle;
	padding-left: 35px;
	padding-top: 4px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Title-BodyB-Column1-Body2 p
{
	color: #1a5805;
	font-family: 'Microsoft Sans Serif';
	font-size: 16pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Title-BodyA-Column1-Body2
{
	color: #1a5805;
	font-family: 'Microsoft Sans Serif';
	font-size: 16pt;
	font-weight: bold;
	font-style: normal;
	background-color: #f5f4ee;
	padding-right: 10px;
	text-align: left;
	vertical-align: middle;
	padding-left: 35px;
	padding-top: 4px;
}

.TableStyle-Title-BodyA-Column1-Body2 p
{
	color: #1a5805;
	font-family: 'Microsoft Sans Serif';
	font-size: 16pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Title-BodyG-Column1-Body2
{
	color: #1a5805;
	font-family: 'Microsoft Sans Serif';
	font-size: 16pt;
	font-weight: bold;
	font-style: normal;
	background-color: #f5f4ee;
	padding-right: 10px;
	text-align: left;
	vertical-align: middle;
	padding-left: 35px;
	padding-top: 4px;
}

.TableStyle-Title-BodyG-Column1-Body2 p
{
	color: #1a5805;
	font-family: 'Microsoft Sans Serif';
	font-size: 16pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Title-BodyI-Column2-Body2
{
	color: #1a5805;
	font-family: 'Microsoft Sans Serif';
	font-size: 16pt;
	font-weight: bold;
	font-style: normal;
	text-align: right;
	background-color: #f5f4ee;
	padding-right: 10px;
	vertical-align: middle;
	background-image: none;
	padding-top: 2px;
}

.TableStyle-Title-BodyI-Column2-Body2 p
{
	color: #1a5805;
	font-family: 'Microsoft Sans Serif';
	font-size: 16pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Title-BodyE-Column2-Body2
{
	color: #1a5805;
	font-family: 'Microsoft Sans Serif';
	font-size: 16pt;
	font-weight: bold;
	font-style: normal;
	text-align: right;
	background-color: #f5f4ee;
	padding-right: 10px;
	border-bottom-width: 0px;
	border-bottom-color: #f5f4ee;
	border-bottom-style: none;
	vertical-align: middle;
	background-image: none;
	padding-top: 2px;
}

.TableStyle-Title-BodyE-Column2-Body2 p
{
	color: #1a5805;
	font-family: 'Microsoft Sans Serif';
	font-size: 16pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Title-BodyF-Column2-Body2
{
	color: #1a5805;
	font-family: 'Microsoft Sans Serif';
	font-size: 16pt;
	font-weight: bold;
	font-style: normal;
	text-align: right;
	background-color: #f5f4ee;
	padding-right: 10px;
	border-bottom-width: 0px;
	border-bottom-color: #f5f4ee;
	border-bottom-style: none;
	vertical-align: middle;
	background-image: none;
	padding-top: 2px;
}

.TableStyle-Title-BodyF-Column2-Body2 p
{
	color: #1a5805;
	font-family: 'Microsoft Sans Serif';
	font-size: 16pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Title-BodyH-Column2-Body2
{
	color: #1a5805;
	font-family: 'Microsoft Sans Serif';
	font-size: 16pt;
	font-weight: bold;
	font-style: normal;
	text-align: right;
	background-color: #f5f4ee;
	padding-right: 10px;
	vertical-align: middle;
	background-image: none;
	padding-top: 2px;
}

.TableStyle-Title-BodyH-Column2-Body2 p
{
	color: #1a5805;
	font-family: 'Microsoft Sans Serif';
	font-size: 16pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Title-BodyD-Column2-Body2
{
	color: #1a5805;
	font-family: 'Microsoft Sans Serif';
	font-size: 16pt;
	font-weight: bold;
	font-style: normal;
	text-align: right;
	background-color: #f5f4ee;
	padding-right: 10px;
	border-bottom-width: 0px;
	border-bottom-color: #f5f4ee;
	border-bottom-style: none;
	vertical-align: middle;
	background-image: none;
	padding-top: 2px;
}

.TableStyle-Title-BodyD-Column2-Body2 p
{
	color: #1a5805;
	font-family: 'Microsoft Sans Serif';
	font-size: 16pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Title-BodyC-Column2-Body2
{
	color: #1a5805;
	font-family: 'Microsoft Sans Serif';
	font-size: 16pt;
	font-weight: bold;
	font-style: normal;
	text-align: right;
	background-color: #f5f4ee;
	padding-right: 10px;
	vertical-align: middle;
	background-image: none;
	padding-top: 2px;
}

.TableStyle-Title-BodyC-Column2-Body2 p
{
	color: #1a5805;
	font-family: 'Microsoft Sans Serif';
	font-size: 16pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Title-BodyB-Column2-Body2
{
	color: #1a5805;
	font-family: 'Microsoft Sans Serif';
	font-size: 16pt;
	font-weight: bold;
	font-style: normal;
	text-align: right;
	background-color: #f5f4ee;
	padding-right: 10px;
	vertical-align: middle;
	background-image: none;
	padding-top: 2px;
}

.TableStyle-Title-BodyB-Column2-Body2 p
{
	color: #1a5805;
	font-family: 'Microsoft Sans Serif';
	font-size: 16pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Title-BodyA-Column2-Body2
{
	color: #1a5805;
	font-family: 'Microsoft Sans Serif';
	font-size: 16pt;
	font-weight: bold;
	font-style: normal;
	text-align: right;
	background-color: #f5f4ee;
	padding-right: 10px;
	vertical-align: middle;
	background-image: none;
	padding-top: 2px;
}

.TableStyle-Title-BodyA-Column2-Body2 p
{
	color: #1a5805;
	font-family: 'Microsoft Sans Serif';
	font-size: 16pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Title-BodyG-Column2-Body2
{
	color: #1a5805;
	font-family: 'Microsoft Sans Serif';
	font-size: 16pt;
	font-weight: bold;
	font-style: normal;
	text-align: right;
	background-color: #f5f4ee;
	padding-right: 10px;
	vertical-align: middle;
	background-image: none;
	padding-top: 2px;
}

.TableStyle-Title-BodyG-Column2-Body2 p
{
	color: #1a5805;
	font-family: 'Microsoft Sans Serif';
	font-size: 16pt;
	font-weight: bold;
	font-style: normal;
}


